<h1>ブログ一覧</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>
<% @tasks.each do |blog| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
  </tr>
<% end %>
</table>
